name: Build and Deploy

on:
  schedule:
    - cron: "15,45 4-23 * * *"
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Show date
      run: |
          echo "Running at $(date)"

    - name: Checkout code
      uses: actions/checkout@v5

    - name: Setup Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.24'

    - name: Build
      run: go build -o avui ./cmd/avui

    - name: Run
      run: ./avui

    - name: Upload page artifact
      uses: actions/upload-pages-artifact@v4
      with:
        path: './static'

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Deploy to GitHub Pages
      uses: actions/deploy-pages@v4
